@{
    ViewBag.Title = "Portfolios";
}

<div class="innerpage">
    <h1>Portfolios</h1>
    <p class="heading">
        Explorers uses portfolios as a means to create a documental journey of your 
                child’s learning and<br>
        development experiences.
    </p>

    <div class="infobox">
        <h2 class="normalWeight">The way the portfolio method works is:</h2>
        <ul class="listing2">
            <li>Each child, regardless of whether they are 6 weeks or 6 years old, will have an 
                    individual portfolio.</li>
            <li>The child will be involved and consulted in the content of their portfolio.</li>
            <li>Our educators will encourage children to take ownership of their portfolio, 
                    to respect it and its purpose to create a visual too to track their journey of learning.</li>
            <li>Families will be encouraged  to access their child’s portfolio online via our parent portal.</li>
        </ul>
    </div>

    <div class="infobox">
        <h2 class="normalWeight">The purpose of parents accessing portfolios is to:</h2>
        <ul class="listing2">
            <li>Allows families to actively participate in the child’s learning.</li>
            <li>Share the child’s experiences with their extended families.</li>
            <li>Write stories about the child’s experiences and learning over the weekends and holidays.</li>
            <li>Add comments about the child’s learning in the reflections page of the portfolio.</li>
        </ul>
        <p class="heading3">
            Staff will add to each child’s portfolio documentation reflection the child’s learning 
                and experiences at Explorers.<br><br>
            For example:-
        </p>
        <ul class="listing2">
            <li>Broad goals for the group of children.</li>
            <li>Individual goals for your child.</li>
            <li>Photos: for e.g. Social interactions, cooking experiences, block construction.</li>
            <li>Pieces of art work.</li>
            <li>Scripts of child conversations with peers.</li>
            <li>Reflections by staff.</li>
        </ul>

    </div>


    <div class="clear"></div>

    

</div>
