@{
    ViewBag.Title = "Index";
}

<div class="innerpage">


    <div class="textboxinner">
        <h1>Contact us</h1>
        <div class="textbox">
            <h1>Explorers Early Learning</h1>
            <p class="heading2">For all waitlist, enrolment, booking and administration enquires.</p>
            <p>
                Admin & Accounts: 03 429 1900<br>
                Waitlist: 03 9080 6010
            </p>
        </div>

        <div class="textbox">
            <h1>Abbotsford / Richmond</h1>
            <p>
                3 Flockhart Streat<br>
                Abbotsford VIC 3067<br>
                P. 03 9429 1900<br>
                E. flockhartst@eel.com.au
            </p>
        </div>

        <div class="textbox">
            <h1>Maidstone / Maribyrnong</h1>
            <p>
                Level 1 / 50 Hampstead Rd<br>
                Maidstone VIC 3012<br>
                P. 03 9317 0411<br>
                E. maidstone@eel.com.au
            </p>
        </div>
    </div>

    <div class="clear"></div>

   
</div>
