@{
    ViewBag.Title = "Index";
}

<div class="innerpage">


    <div class="textboxinner">
        <h1>Contact us</h1>
        <div class="textbox">
            <h1>Explorers Early Learning</h1>
            <p class="heading2">For all waitlist, enrolment, booking and administration enquires.</p>
            <p>
                Admin & Accounts: 03 9682 2053<br>
                Waitlist: 03 9682 2053<br>
                F. 03 9682 2053
            </p>
        </div>

        <div class="textbox">
            <h1>Abbotsford / Richmond</h1>
            <p>
                3 Flockhart Streat<br>
                Abbotsford VIC 3067<br>
                P. 03 9429 1900<br>
                E. flockhartst@eel.com.au
            </p>
        </div>

        <div class="textbox">
            <h1>Maidstone / Maribyrnong</h1>
            <p>
                Level 1 / 50 Hampstead Rd<br>
                Maidstone VIC 3012<br>
                P. 03 9317 0411<br>
                E. maidstone@eel.com.au
            </p>
        </div>

        <div class="textbox">
            <h1>Strong Environmental Focus<span><img src="@Url.Content("~/Content/images/link_arrow4.png")" alt="arrow"></span></h1>
            <p>
                The center also promotes the importance of building positive attitudes toward 
                    sustainable values and nature within the children’s educational program.
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="leftcontent">
        <h1>Fundraising with explorers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi. Aliquam venenatis volutpat 
               aliquam. Nam massa est, tincidunt in mattis sed.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi aliquam. 
               Nam massa est, tincidunt in mattis sed, iaculis ut orci.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link" /></a>
    </div>
    @{Html.RenderPartial("ImageGallery");}
</div>
