@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="block fixed">
    <div class="sitemap-panel clearfix">
        <ul class="site-tree">
            <li class="tree-node active">
                <img class="icon tree-icon" src="/Content/Images/treenode/invis.gif">

                <div class="map-item  static  show-in-menu">
                    <a title="Articles">Articles</a>
                    <span class="arrow">
                        <img class="icon arrow-right" src="/Content/Images/treenode/invis.gif">
                    </span>

                    <ul style="">
                        <li><a href="/dev~vipulsinghal" target="_blank">Preview</a></li>
                        <li class="">
                            <a href="/Sites/Page/Edit?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Edit</a>                    </li>
                        <li>
                            <a href="/Sites/Page/Copy?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Copy</a>
                        </li>
                        <li class="has-sub"><a href="#">New sub page
                        </a>

                            <ul>
                                <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;Layout=one_column">one_column</a>  </li>
                                <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;Layout=two_column">two_column</a>  </li>
                            </ul>

                        </li>
                        <li>
                            <a data-ajax="POST" data-confirm="Are you sure you want to delete this page?" href="/Sites/Page/Delete1?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Delete</a>
                        </li>
                        <li>
                            <a data-ajax="POST" data-confirm="Are you sure you want to unpublish this page?" href="/Sites/Page/Unpublish?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Unpublish</a>
                        </li>
                        <li>
                            <a href="/Sites/Page/Move?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Move To</a>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li class="tree-node active">
                        <div class="map-item  static  ">
                            <a title="Search">Search</a>
                            <span class="arrow">
                                <img class="icon arrow-right" src="/Content/Images/treenode/invis.gif">
                            </span>

                            <ul style="">
                                <li><a href="/dev~vipulsinghal/Search" target="_blank">Preview</a></li>
                                <li class="">
                                    <a href="/Sites/Page/Edit?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Edit</a>                    </li>
                                <li>
                                    <a href="/Sites/Page/Copy?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Copy</a>
                                </li>
                                <li class="has-sub"><a href="#">New sub page
                                </a>

                                    <ul>
                                        <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=Search&amp;Layout=one_column">one_column</a>  </li>
                                        <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=Search&amp;Layout=two_column">two_column</a>  </li>
                                    </ul>

                                </li>
                                <li>
                                    <a data-ajax="POST" data-confirm="Are you sure you want to delete this page?" href="/Sites/Page/Delete1?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Delete</a>
                                </li>
                                <li>
                                    <a data-ajax="POST" data-confirm="Are you sure you want to unpublish this page?" href="/Sites/Page/Unpublish?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Unpublish</a>
                                </li>
                                <li>
                                    <a href="/Sites/Page/Move?siteName=vipulsinghal&amp;UUID=Search&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Move To</a>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="tree-node active">
                        <img class="icon tree-icon" src="/Content/Images/treenode/invis.gif">
                        <div class="map-item  static  show-in-menu">
                            <a title="Articles">Articles</a>
                            <span class="arrow">
                                <img class="icon arrow-right" src="/Content/Images/treenode/invis.gif">
                            </span>

                            <ul style="">
                                <li><a href="/dev~vipulsinghal" target="_blank">Preview</a></li>
                                <li class="">
                                    <a href="/Sites/Page/Edit?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Edit</a>                    </li>
                                <li>
                                    <a href="/Sites/Page/Copy?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Copy</a>
                                </li>
                                <li class="has-sub"><a href="#">New sub page
                                </a>

                                    <ul>
                                        <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=Articles&amp;Layout=one_column">one_column</a>  </li>
                                        <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=Articles&amp;Layout=two_column">two_column</a>  </li>
                                    </ul>

                                </li>
                                <li>
                                    <a data-ajax="POST" data-confirm="Are you sure you want to delete this page?" href="/Sites/Page/Delete1?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Delete</a>
                                </li>
                                <li>
                                    <a data-ajax="POST" data-confirm="Are you sure you want to unpublish this page?" href="/Sites/Page/Unpublish?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Unpublish</a>
                                </li>
                                <li>
                                    <a href="/Sites/Page/Move?siteName=vipulsinghal&amp;UUID=Articles&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Move To</a>
                                </li>
                            </ul>
                        </div>
                        <ul>
                            <li class="tree-node active">
                                <div class="map-item  dynamic  ">
                                    <a title="Detail">Detail</a>
                                    <span class="arrow">
                                        <img class="icon arrow-right" src="/Content/Images/treenode/invis.gif">
                                    </span>

                                    <ul style="">
                                        <li class="">
                                            <a href="/Sites/Page/Edit?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Edit</a>                    </li>
                                        <li>
                                            <a href="/Sites/Page/Copy?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Copy</a>
                                        </li>
                                        <li class="has-sub"><a href="#">New sub page
                                        </a>

                                            <ul>
                                                <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=Articles~Detail&amp;Layout=one_column">one_column</a>  </li>
                                                <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=Articles~Detail&amp;Layout=two_column">two_column</a>  </li>
                                            </ul>

                                        </li>
                                        <li>
                                            <a data-ajax="POST" data-confirm="Are you sure you want to delete this page?" href="/Sites/Page/Delete1?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Delete</a>
                                        </li>
                                        <li>
                                            <a data-ajax="POST" data-confirm="Are you sure you want to unpublish this page?" href="/Sites/Page/Unpublish?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Unpublish</a>
                                        </li>
                                        <li>
                                            <a href="/Sites/Page/Move?siteName=vipulsinghal&amp;UUID=Articles~Detail&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Move To</a>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>

                    </li>
                    <li class="tree-node active">
                        <div class="map-item  static  show-in-menu">
                            <a title="About us">About us</a>
                            <span class="arrow">
                                <img class="icon arrow-right" src="/Content/Images/treenode/invis.gif">
                            </span>

                            <ul style="">
                                <li><a href="/dev~vipulsinghal/about" target="_blank">Preview</a></li>
                                <li class="">
                                    <a href="/Sites/Page/Edit?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Edit</a>                    </li>
                                <li>
                                    <a href="/Sites/Page/Copy?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Copy</a>
                                </li>
                                <li class="has-sub"><a href="#">New sub page
                                </a>

                                    <ul>
                                        <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=about&amp;Layout=one_column">one_column</a>  </li>
                                        <li><a href="/Sites/Page/Create?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal&amp;parentPage=about&amp;Layout=two_column">two_column</a>  </li>
                                    </ul>

                                </li>
                                <li>
                                    <a data-ajax="POST" data-confirm="Are you sure you want to delete this page?" href="/Sites/Page/Delete1?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Delete</a>
                                </li>
                                <li>
                                    <a data-ajax="POST" data-confirm="Are you sure you want to unpublish this page?" href="/Sites/Page/Unpublish?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Unpublish</a>
                                </li>
                                <li>
                                    <a href="/Sites/Page/Move?siteName=vipulsinghal&amp;UUID=about&amp;return=%2FSites%2FHome%2FSiteMap%3FsiteName%3Dvipulsinghal">Move To</a>
                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>

            </li>
        </ul>
    </div>
</div>
<script>
    $(function () {
        $('.tree-node').treeNode();
        $('.tree-node').mapItem();
    });
</script>