<ul>
                    <li ><a href="/Home" class="one active">Home</a></li>
                    <li><a href="/Philosophy" class="two">philosophy</a></li>
                    <li><a href="#" class="three">programs</a></li>
                    <li><a href="#" class="four">centers</a></li>
                    <li><a href="#" class="five">portfolios</a></li>
                    <li><a href="#" class="six">employment</a></li>
                    <li><a href="#" class="seven">contact us</a></li>                                         
                </ul>