@{
    ViewBag.Title = "Maidstone / Maribyrnong";
}

<div class="innerpage">

    <div class="textboxinner">
        <h1>Maidstone / Maribyrnong</h1>
        <p>
            The Maidstone / Maribyrnong centre is located at level 1/50 Hampstred Rd,
corner of Emu Rd, Maidstone.
        </p>
    </div>

    <div class="clear"></div>


    <div class="infobox two">
        <h2>Hours</h2>
        <p>
            Monday- Friday<br>
            6.30am - 6.30pm
        </p>
    </div>

    <div class="infobox two">
        <h2>Contact Details</h2>
        <p>
            P: 03 9317 0411<br>
            E: maidstone@eel.com.au
        </p>
    </div>

    <div class="infobox two">
        <h2>Parking</h2>
        <p>Parking is available at the front of the centre</p>
    </div>


    <div class="clear"></div>

    
</div>

