@{
    ViewBag.Title = "An Emergent Cirriculum";
}

<div class="innerpage">
    <div class="textboxinner">
        <h1>Emergent Cirriculum</h1>
        <p class="heading2">Explores follows and Emergent Cirriculum.</p>
        <h1>An Emergent Cirriculum</h1>
        <p>
            Supports children to develop research and enquiry skills, using topics and resources
                        which ‘emerge’ from the children’s interests.
        </p>
        <p>
            Rather than starting with a topic that educator’s think children should learn about, 
                        they take the observed interests of the children and brainstorm ways to explore it that 
                        encourage all areas of development. For example, an interest in farm animals might lead to creating their own farm yard, counting how many cows they have compared to sheep, researching what each animal eats, working 
                        together and sharing resources, practicing new words and sounds. One interest can expand
                        into all areas of the room.
        </p>
        <p>
            While working on projects with the child, educator’s can also expand the child’s 
                        leaning by collecting by collecting data such as photographs, notes, videos and conversations
                        that can be reviewed at a later time. The educator needs to maintain an active, mutual
                        participation in the activity to help ensure that new information is understood and 
                        can be questioned or extended on.
        </p>
        <p>
            Emergent Curriculum depends on educator’s who are skilled, active observers of children 
                        in order to harness these teachable moments when children are engaged in an experience which interests them. An emergent program is more than just the resources in the room, it is largely the teaching strategies that supports children to engage with them. This approach ensures that children are curious and active learners.
        </p>
        <p>Play based leaning is a strong idea in the Victorian Early Years Learning and Development Framework.</p>
    </div>

    <div class="clear"></div>
    <div class="leftcontent">
        <h1>Fundraising with explorers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi. Aliquam venenatis volutpat 
               aliquam. Nam massa est, tincidunt in mattis sed.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi aliquam. 
               Nam massa est, tincidunt in mattis sed, iaculis ut orci.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link" /></a>
    </div>
    @{Html.RenderPartial("ImageGallery");}
</div>
