@{
    ViewBag.Title = "Early Years Framework";
}

<div class="innerpage">
    <div class="textboxinner">
       
        <h1>Early Years Framework</h1>
        <p>
            Explorers strongly supports Victoria's first Early Year Learning and Development Framework(VEYLDF)
        </p>
        <p>
            In 2010 Victoria's first Early Years Learning and Development Framework(VEYLDF) was introduced to services state wise. The Victorian Curriculum and Assessment Authority (VCAA) is responsible for the development of the Victorian Early Learning and 
            Development Framework 0-8 in partnership with the Victorian Department of Education and Early Childhood Development.
        </p>
        <p>
           The VEYLDF is a state wide curriculum framework which aims to ensure consistent, quality programs for children across al 
            services in Victoria. This curriculum covers children from birth to eight years, bridging the gap between kindergarten and primary school.
        </p>
        <p>
            The Victorian Framework identifies five Learning and Development Outcomes for children and describes 8 Practice Principles             for Educators which support and enhance children's learning. It has a strong emphasis on play based learning, recognizing             this approach as the most effective vehicle for children's learning and providing the greatest stimulus for brain development.
        </p>
        
    </div>

    <div class="clear"></div>
    <div class="leftcontent">
        <h1>Fundraising with explorers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi. Aliquam venenatis volutpat 
               aliquam. Nam massa est, tincidunt in mattis sed.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi aliquam. 
               Nam massa est, tincidunt in mattis sed, iaculis ut orci.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link" /></a>
    </div>
    @{Html.RenderPartial("ImageGallery");}
</div>
