@{
    ViewBag.Title = "Strong Environmental Focus";
}

<div class="innerpage">
    <div class="textboxinner">
        <h1>Strong Environmental Focus</h1>
        <p class="heading2">The children at Tree House will have the ability to access an indoor / outdoor program throughout the day. Children will be able to choose what time of day they explore the environment.</p>
        <p>The center also promotes the importance of building positive attitudes toward 
            sustainable values and nature within the children’s educational program.</p>

        <div class="infobox">
        <h2>The center is committed to promote environmental education by encouraging children, parents and staff to:</h2>
        <ul class="listing2">
            <li>Actively participae in the herb and vegetable garden.</li>
            <li>Maintain compost bins and use fruit & vegetable waste from the center.</li>
            <li>Respect the no plastic bag.</li>
            <li>Reduce water use by using center's water tanks for children's play.</li>

            <li>Empty water acivities into garden beds.</li>
            <li>Where possible, use re-cycled materials and paper for children's art activities.</li>
            <li>Office to reduce paper by using email or center web page to post newsletters or notices to parents.</li>
            <li>Reduce the use of plastic goods within the center whereever possible.</li>
            <li>Reduce the use of chemicals within the center.</li>
            <li>Continue education of children, families, staff and the community of our sustainable values.</li>
        </ul>
    </div>

        
    </div>

    <div class="clear"></div>
    <div class="leftcontent">
        <h1>Fundraising with explorers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi. Aliquam venenatis volutpat 
               aliquam. Nam massa est, tincidunt in mattis sed.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi aliquam. 
               Nam massa est, tincidunt in mattis sed, iaculis ut orci.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link" /></a>
    </div>
    @{Html.RenderPartial("ImageGallery");}
</div>

