@{
    ViewBag.Title = "Strong Environmental Focus";
}

<div class="innerpage">
    <div class="textboxinner">
        <h1>Strong Environmental Focus</h1>
        <p class="heading2">The children at Explorers will have the ability to access an indoor / outdoor program throughout the day. Children will be able to choose what time of day they explore the environment.</p>
        <p>The centre also promotes the importance of building positive attitudes toward 
            sustainable values and nature within the children’s educational program.</p>

        <div class="infobox">
        <h2>The centre is committed to promote environmental education by encouraging children, parents and staff to:</h2>
        <ul class="listing2">
            <li>Actively participate in the herb and vegetable garden.</li>
            <li>Maintain compost bins and use fruit & vegetable waste from the centre.</li>
            <li>Respect the no plastic bag.</li>
            <li>Reduce water use by using centre's water tanks for children's play.</li>

            <li>Empty water activities into garden beds.</li>
            <li>Where possible, use re-cycled materials and paper for children's art activities.</li>
            <li>Office to reduce paper by using email or centre web page to post newsletters or notices to parents.</li>
            <li>Reduce the use of plastic goods within the centre where ever possible.</li>
            <li>Reduce the use of chemicals within the centre.</li>
            <li>Continue education of children, families, staff and the community of our sustainable values.</li>
        </ul>
    </div>

        
    </div>

    <div class="clear"></div>
   
</div>

