@{
    ViewBag.Title = "Programs";
}


<div class="innerpage">
    <div class="textboxinner">
        <h1>Programs</h1>
        <p  class="heading2">
            The early childhood years (birth to 6 yrs) are regarded as the foundation upon which a
            child’s life is constructed. From birth, young children develop socially, emotionally, cognitively and physically,
            acquiring the knowledge, skills and attitudes essential to their ongoing growth and development
                   to adulthood.
        </p>
        <p  class="heading2">
            The children’s program is developed by our early childhood trained staff and reflects 
                 Explorer’s unique philosophy and commitment to the environment and our local community.
        </p>
    </div>

    <div class="textboxinner">
        
        <div class="textbox">
            <h1 class="LeafBK">Babies</h1>
            <p>
                We understand and respect the trust that families place in us as they leave their most treasured loved ones in our
                care. Knowing that every child is a unique individual, even from the youngest age, with individual needs for rest, 
                food, love and learning, our educators will quickly become familiar with the children’s routines and cues. As we
                build the trust bonds with both families and their infant children, we will do everything we can to meet the needs of both.
            </p>
        </div>

         <div class="textbox">
            <h1 class="LeafBK">Toddlers</h1>
            <p>
                In the busy world of the toddler, there is so much to learn and explore. Our learning environments will create a 
                safe space for toddlers to experiment and discover both the indoor and outdoor environments.With their interest 
                in independence, the children will be encouraged to attempt trying things for themselves, such as washing their hands,
                 learning to use the toilet, dressing and participating in meal routines. To support active learning, 
                toddlers are encouraged to have a rest after their lunch, to prepare for a busy afternoon.
            </p>
        </div>

         <div class="textbox">
            <h1 class="LeafBK">Kinder</h1>
            <p>
                In the year before school, children will be involved in transition preparations. What this means is children will be building on their independence and responsibility,                 challenging and devloping skills that will support future reading and writing and building on their social connections. With the support of their Kinder teacher, 
                children will be encouraged to express their needs and wants with clarity, to identify injustices using appropriate social interactions and to make meaningful decisions.
            </p>
             <p>
                 When preparing children for school, the Kindergarten teacher will use discussions, both formal and informal, 
                 that will encourage children's conversations, support children as they learn to express and recognise emotions 
                 and develop each child's sense of identity and belonging with a variety of communities.
                  The Kindergarten program will provide an abundance of choices, allowing children to explore their 
                 interests as they learn valuable life skills.

             </p>
        </div>


        <div class="textbox">
            <a class="victoria" href="#">
                <img width="100" height="57" alt="victoria" src="/Content/images/victoria_img.jpg"></a>
            <p class="text3">This program has been designed to develop life skills in preparation for entering primary school.</p>
        </div>
    </div>




    <div class="clear"></div>

    
</div>
