@{
    ViewBag.Title = "KindergartenProgram";
}

<div class="innerpage">
    <div class="textboxinner">
        <h1>Kindergarten Program</h1>
        <p class="heading2">
            The Explorers Kindergarten year is a rich and stimulating experience that provides a range of important opportunities 
            that not only prepare your child for school but prepare your child for life.
        </p>
        <p>
            Kindergarten (also known as preschool) is a program for children in the year before they start primary school.
            Children should be aged at least four years by 30 April to access the 4 year old program.
        </p>
        <p>
            Explorers offers a kindergarten program for 3 and 4 year old children. Our program is a play based approach that 
            emphasises learning through exploration, investigation and opportunities to practice problem solving, thinking skills 
            such as creativity and lateral thinking.
        </p>

        <p>Our 3 year old program will develop skills to prepare your child for our 4 year old program.</p>

        <div class="infobox">
            <h2>The staff will support the development of the following skills:</h2>
            <ul class="listing2">
                <li>Independence.</li>
                <li>Vocabulary and Conversation.</li>
                <li>Social Interaction.</li>
                <li>Play which is creative.</li>
                <li>Play that will discover and explore concepts about the themselves and their peers.</li>
                <li>Experimentation (science concepts) and understanding about the nature whole around them.</li>
            </ul>

        </div>
        <div class="clear"></div>
        <p>
            In the 4 year old program, we will extend the above concepts but also concentrate on the importance for children to 
             develop life skills in preparation for entering primary school. This is the time when staff and parents need to give the 
             child additional opportunities to practice their independence and self help skills.
        </p>
        <div class="clear"></div>
        <div class="infobox">
            <h2>The centre will promote the following strategies within our program:</h2>
            <ul class="listing2">
                <li>Encourage children to make choices about clothing and dress themselves.</li>
                <li>Encourage children to express their wants and needs.</li>
                <li>The ability for the child to express and recognise emotions.</li>
                <li>Allow children to answer questions from their peers and other adults.</li>
                <li>Encourage children's conversation.</li>
                <li>Encourage children to explore their natural environment.</li>
                <li>Allow children to create discussions.</li>
                <li>Development of maturity through the above strategies.</li>
            </ul>

        </div>

        <div class="infobox">
            <h2>What is Kindergarten?</h2>
            <ul class="listing2">
                <li>In Victoria it is the year or two of early education before formal education begins at school.</li>
                <li>A play based program that includes explicitly taught knowledge, skills and attitude woven into play
situations. Guided by the Victorian Early Years Learning and Development Framework.</li>
                <li>Available in short sessions, totaling around 15 hours per week or within childcare centres with considerably
longer operating hours or early learning centres.</li>
                <li>Each is somewhat similar and unique, driven by the service philosophy, the teaching styles of individual
teachers, and the passions and interests of those involved in the program (teachers, children, families).</li>
                <li>One model is not necessarily more structured than another.</li>
                <li>We strongly recommend you choose the one model that bests suits you and your child.</li>
                <li>Children attending two Kindergarten programs are expected to:</li>
                <li>Form two sets of teacher and peer group relationships.</li>
                <li>Understand two daily routines.</li>
                <li>Understand two sets of expectations for play and behaviour.</li>
                <li>Remember the physical layout of two very full environments.</li>

            </ul>

        </div>

        <div class="infobox">
            <h2>Kindergarten Funding Government Guidelines and Universal Access</h2>
            <ul class="listing2">
                <li>The State Government Kindergarten Funding is available for each child to attend one program in the year
before children start school.
                </li>
                <li>The program must offer at least 15 hours with a qualified teacher.</li>

            </ul>


        </div>
        <div class="clear"></div>
        <p class="heading2 SetPar">A second year of funded Kindergarten</p>
        <p class="SetPar">
            A child may be eligible for a second year of funded four year old Kindergarten if they show developmental delays
in two or more areas and/or exceptional circumstances.
        </p>
        <div class="clear"></div>
        <div class="infobox">
            <h2>Explorers Kinder Programs</h2>
            <ul class="listing2">
                <li>All the four year old groups at Explorers are registered funded Kindergarten Programs.
                </li>
                <li>Rooms are organised each year according to community need. Currently enrolled families are placed first
and guaranteed funded kindergarten.</li>

            </ul>
        </div>
        <div class="clear"></div>
        <div class="infoboxLeft">
            <h2>What is a structured Kindergarten Program?</h2>
        </div>
        <div class="clear"></div>
        <p>A structured program is a program with a clear plan for teaching and learning.</p>
        <p class="heading2">A closer look at The Explorers Kindergarten Program</p>

        <div class="clear"></div>
        <div class="infobox">

            <h3>Methodology</h3>
            <ul class="listing2">
                <li>Learning outcomes - program goals</li>
                <li>Both are a mixture of knowledge, skills and attitudes.</li>
                <li>Emergent curriculum - Planning activities with the children. Children choose what they would like to do or
express an interest. Teachers consider how that idea can be used to extend learning.</li>
                <li>It is not all choice. Teachers will introduce concepts if they see a need or gap in the program.</li>

            </ul>
            <br />
            <h3>Philosophy</h3>
            <ul class="listing2">
                <li>The Explorers Kindergarten Program is consistent with the early education program offered in each of
our other rooms. It flows directly from our philosophy incorporating:</li>
                <li>A play -based learning program, designed to stimulate children's love of learning and social connections.</li>
                <li>A welcoming environment for whole families, where siblings may visit and parents contributions of ideas
and interests are valued. Flexibility to incorporate family needs — enrolment up to five days with flexible
arrival and departure times within the operating hours.</li>
                <li>Qualified Teachers and Educators, who role model lifelong learning and nurture children as individuals.</li>
                <li>A program that explores the children's place as citizens in the local and world community.</li>
                <li>A program that promotes connection to the natural world and environmental sustainability.</li>
            </ul>
        </div>

    </div>

    <div class="clear"></div>

</div>


