@{
    ViewBag.Title = "An Online Portfolio Method of Planning";
}


<div class="innerpage">
    <div class="textboxinner">
       
        <h1>An Online Portfolio Method of Planning</h1>
        <p>
            Explores uses online portfolios as a means to create a documental journey of your child’s learning and 
            development experiences that families can view at any time. 
        </p>
    </div>

    <div class="clear"></div>
    <div class="leftcontent">
        <h1>Fundraising with explorers</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi. Aliquam venenatis volutpat 
               aliquam. Nam massa est, tincidunt in mattis sed.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
               Nam id diam eros. Nulla facilisi aliquam. 
               Nam massa est, tincidunt in mattis sed, iaculis ut orci.
        </p>
        <a href="#" class="link_nxt">
            <img src="@Url.Content("~/Content/images/link_arrow.png")" width="16" height="17" alt="link" /></a>
    </div>
    @{Html.RenderPartial("ImageGallery");}
</div>
