@{
    ViewBag.Title = "An Online Portfolio Method of Planning";
}


<div class="innerpage">
    <div class="textboxinner">
       
        <h1>An Online Portfolio Method of Planning</h1>
        <p>
            Explores uses online portfolios as a means to create a documental journey of your child’s learning and 
            development experiences that families can view at any time. 
        </p>
    </div>

    <div class="clear"></div>
   
</div>
