@{
    ViewBag.Title = "Ready Program";
}

<div class="innerpage">
    <div class="textboxinner">
        <div class="logoHeading">
        <h1>Ready Program</h1>
        <p class="heading2" >All of our four year old kinder children will have access to 
                    the Explorers Ready Program. The Ready Program is encompassed 
                    within our Kinder Program and focuses on getting children ready - ready for life, for school, 
                    as members of their community.
        </p>
        </div>
        <div>
        <img src="@Url.Content("~/Content/Images/Ready Logo-Small.jpg")" width="250"/>
        </div>
        <div class="clear"></div>
        <div class="infobox">
        <h2>Features of the Ready Program include:</h2>
        <ul class="listing2">
            <li>A "Welcome Group Time" each day that welcomes children to the room and the activities that are planned for the day. Parents 
                are encouraged to have their children at the centre by 9am when accessing their 4 year old funded kinder year.</li>
            <li>Children are encouraged to bring their own drink bottle of water to use and take responsibility of throughout the day.</li>
            <li>A monthly email to families with tips from our kinder teachers on activities they can do at home with their child, 
                particularly focussing on school readiness.</li>
            <li>Show and Tell is embedded in the program. Children will have the opportunity to bring something from their family, from 
                nature, something they have made, a book or music to share with their Kinder group.</li>

            <li>Children have access to the centre's library of books, and will have a library bag. This will enable the children to borrow                 a book to take home to share and enjoy with their family, supporting early literacy at home.            </li>
            <li>Children have the opportunity to bring their school bags in Term 4(voluntary).</li>
            <li>In Term 4, a lunch-box program will occur. Children will be asked to bring in an empty lunch box on certain days, and the 
                room will have a packed lunch. This enables the children to practise a lunch routine similar to school whilst being 
                supported by our Educators.
            </li>
            <li>Children will go on an excursion to a local school, enabling them to see a school class room and playground with their 
                kinder friends.</li>
            
        </ul>
    </div>

        
    </div>

    <div class="clear"></div>
   
</div>
