@{
    ViewBag.Title = "Employment";
}

<div class="innerpage">


    <div class="textboxinner">
        <h1>Employment</h1>
        <p class="heading2">
            Explorers is always looking for dynamic staff who are interested in 
                working with our philosophy.
        </p>
        <p>
            At Explorers we pride ourselves in offering our staff great support, professional 
                development opportunities, career progression opportunities and lots of fun.
        </p>
        <p>
            We are always interested in meeting wonderful staff, please apply if you feel
                you would enjoy working with our philosophy.
        </p>
    </div>

    <div class="textboxinner">
        <h1 class="shortFontHeading">Director in Training (D.I.T) Program</h1>
        <p>At Explorers we are passionate about creating a career path for Early Childhood Educators.</p>
        <p>Our Director in Training (D.I.T) Program has been designed to develop your skills and knowledge to become a well-respected leader in Early Childhood Education and Care. The program will train and support you to gain the knowledge and experience that is required to run a quality Early Childhood Service.</p>
        <p>We are currently recruiting for this position across our centers. We believe that it is important to recruit both internally and externally for these roles to not only provides opportunities to existing staff but also bring new skills and ideas to our centers.</p>
    </div>

    <div class="textboxinner">
        <h1 class="shortFontHeading">Casual Staff</h1>
        <p>
            At Explorers we really care for our casuals. When recruiting permanent full time staff, 
                we like to first offers these positions to our casuals. So if you want to get a permanent 
                role with Explorers, this is a great way to get your foot in the door.
        </p>
    </div>

    <div class="clear"></div>

   


</div>
