
body {
    font: 12px/1.5 "Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
#header {
    background: none repeat scroll 0 0 #5BB65E;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    font-size: 14px;
    left: 0;
    min-height: 40px;
    padding: 0 10px;
    /*position: fixed;*/
    right: 0;
    top: 0;
    z-index: 1001;
}

#header a {
    color: #FFFFFF;
}
#header .logo {
    float: left;
    padding: 8px 45px 8px 10px;
    position: relative;
}


#header .logo img {
    display: block;
}


#header img.icon.home {
    background-position: -150px -156px;
    height: 14px;
    width: 32px;
}
#header .logo .icon {
    position: absolute;
    right: 10px;
    top: 5px;
}


#header .panel {
    float: left;
    margin-left: 21px;
}


#header .panel > li {
    float: left;
    position: relative;
}

#header .quicklinks {
    float: right;
}

#header .quicklinks li {
    float: left;
    position: relative;
}

#header .quicklinks a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
}



#header img.icon.profile {
    background-position: -65px -52px;
    height: 12px;
    width: 11px;
}
#header .quicklinks .icon {
    float: left;
    margin: 15px 4px 0 0;
}

#header .quicklinks .arrow {
    float: right;
    margin: 19px 0 0 5px;
}


#header .quicklinks li.last ul {
    right: 0;
}
#header .quicklinks ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #006CAD #006CAD;
    border-image: none;
    border-right: 2px solid #006CAD;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    display: none;
    min-width: 100%;
    position: absolute;
    z-index: 10;
}

#header .quicklinks ul a {
    color: #000000;
    white-space: nowrap;
}

#header {
    font-size: 14px;
}

#header .panel a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
}
#header .j_DropDown > a {
    padding-right: 23px !important;
    position: relative;
}


#header .panel .icon {
    float: left;
    margin: 7px 5px 0 0;
}
#header img.icon.save {
    background-position: -78px 0;
    height: 26px;
    width: 26px;
}

#header .j_DropDown .icon.arrow {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 19px;
}

#header img.icon.arrow.white-down {
    background-position: 0 0;
}
#header img.icon.arrow.small {
    height: 6px;
    width: 8px;
}
#header img.icon.arrow {
    background-image: url("../images/arrows.png");
}

#header .panel ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #006CAD #006CAD;
    border-image: none;
    border-right: 2px solid #006CAD;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    display: none;
    min-width: 100%;
    position: absolute;
    z-index: 1009;
}


#header .panel ul li {
    color: #666666;
    line-height: 34px;
    padding: 0 10px;
}


#header .panel ul a {
    color: #000000;
    line-height: 34px;
    margin: 0 -10px;
    white-space: nowrap;
}

#header img.icon.preview {
    background-position: -208px -26px;
    height: 26px;
    width: 26px;
}

#header img.icon {
    background: url("../images/icons.png") no-repeat scroll -999em -999em rgba(0, 0, 0, 0);
    display: block;
}

#header img.icon.cancel {
    background-position: -156px 0;
    height: 26px;
    width: 26px;
}

.common-form th {
    font-weight: 400;
    padding: 5px 5px 5px 0;
    vertical-align: top;
    white-space: nowrap;
    width: 190px;
    text-align: left;
}

.common-form fieldset {
    margin-bottom: 20px;
}

.common-form table {
    width: 100%;
}


.common-form td {
    padding: 5px 5px 20px;
}

.common-form {
    font-size: 14px;
    line-height: 26px;
    margin-right: 20px;
}

.common-form input.medium {
    width: 260px;
}
.common-form input[type="text"], .common-form input[type="password"] {
    border: 1px solid #BABABA;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 2px 9px;
}

.common-form .tip {
    clear: both;
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 1.3;
}

.common-form input,.common-form button, .common-form select,.common-form textarea {
    font: inherit;
}

/*Login Css*/
#sidebar {
    border-left: 1px solid #CCCCCC;
    float: right;
    margin-bottom: -9999px;
    padding: 0 0 249px 30px;
    width: 400px;
}


#sidebar .title {
    font-family: "Segoe UI Light","Helvetica Neue",openSansLight,Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 26px;
}


.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


.common-form .field label {
    float: left;
}
.common-form input.short {
    width: 300px;
}
.common-form .field input {
    clear: left;
}
.common-form .field {
    margin-bottom: 10px;
}

.common-form input[type="radio"], .common-form input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.common-form label.inline {
    float: left;
    line-height: 13px;
}

.common-form .buttons {
    padding-top: 20px;
}


a {
    color: #5BB65E;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}