li {
    list-style: none outside none;
}

 .site-tree {
    float: left;
    padding: 0 11px 32px 21px;
    font: 12px/1.5 "Segoe UI","Helvetica Neue",openSansRegular,Arial,Helvetica,sans-serif;
}

 .site-tree a {
    color: #0078B1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}

ul.site-tree {
    clear: both;
    float: none;
    padding: 0;
}
.site-tree .tree-node {
    /*background: url("../images/treenode/line-end.png") no-repeat scroll -1px -32px rgba(0, 0, 0, 0);*/
    margin-bottom: 32px;
    padding-left: 21px;
    position: relative;
}
.site-tree .tree-node .tree-node {
    background: url("../images/treenode/line.png") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
    margin: 0 0 0 74px;
    padding: 32px 0 0 86px;
}
.site-tree .tree-node .tree-node:last-child {
    background: url("../images/treenode/line-end.png") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
}
.site-tree .tree-icon {
    background-position: 0 -94px;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 10px;
}
.site-tree .active > .tree-icon {
    background-position: -11px -94px;
}
.site-tree .tree-node .tree-node .tree-icon {
    top: 42px;
}
.sitemap-panel .blank {
    margin-top: 15%;
    text-align: center;
}
.sitemap-panel .blank .dropdown-button {
    margin-top: 30px;
}
.sitemap-panel .blank .button {
    margin-top: 30px;
}
.sitemap-description li {
    float: left;
    line-height: 16px;
    margin-left: 20px;
}
.sitemap-description li span {
    background: none repeat scroll 0 0 #3CA8DB;
    color: #FFFFFF;
    cursor: default;
    display: block;
    float: left;
    height: 16px;
    margin-right: 5px;
    text-align: center;
    width: 16px;
}
.sitemap-description li span.dynamic {
    background: none repeat scroll 0 0 #1076A6;
}
.sitemap-description li span.inherited {
    background-image: url("../images/treenode/stripe.png");
    background-repeat: repeat;
}
.sitemap-description li span.show-in-menu {
    color: #000000;
}
.sitemap-description li span.unpublished {
    background: none repeat scroll 0 0 #C1C1C1;
}
.sitemap-description li span.available {
    background: none repeat scroll 0 0 #37B861;
}
.sitemap-description li span.completed {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #333333;
}
.sitemap-description li span.disabled {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #666666;
}
.map-item {
    /*background-color: #3CA8DB;*/
    background-color: #5BB65E;
    height: 32px;
    position: relative;
    width: 160px;
}
.map-item.dynamic {
    /*background-color: #1076A6;*/
    background-color: #5BB65E;
}
.map-item.unpublished {
    background-color: #C1C1C1;
}
.map-item.inherited {
    background-image: url("../images/treenode/stripe.png");
    background-repeat: repeat;
}
.map-item.show-in-menu > a {
    color: #000000;
    font-weight: 700;
}
.map-item > a {
    color: #FFFFFF;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    width: 107px;
}
.map-item .arrow {
    border-left: 1px solid #FFFFFF;
    display: block;
    float: right;
    height: 16px;
    padding: 8px;
    text-indent: -9999px;
    width: 16px;
}
.map-item ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000000;
    display: none;
    left: 101%;
    min-width: 100%;
    position: absolute;
    z-index: 99;
    padding:0;
    margin:0;
}
.map-item ul a {
    color: #000000;
    display: block;
    line-height: 24px;
    padding: 0 10px;
}
.map-item li:hover > a, .map-item ul a:hover {
    background: none repeat scroll 0 0 #E5F0F7;
}
.map-item li {
    position: relative;
}
.map-item li ul {
    left: 100%;
    position: absolute;
    top: 0;
}
.map-item li:hover > ul {
    display: block;
}


img.icon {
    background: url("../images/treenode/icons.png") no-repeat scroll -999em -999em rgba(0, 0, 0, 0);
    display: block;
}
img.icon.add {
    background-position: 0 0;
    height: 26px;
    width: 26px;
}
img.icon.import {
    background-position: -26px 0;
    height: 26px;
    width: 26px;
}
img.icon.export {
    background-position: -52px 0;
    height: 26px;
    width: 26px;
}
img.icon.save {
    background-position: -78px 0;
    height: 26px;
    width: 26px;
}
img.icon.delete {
    background-position: -104px 0;
    height: 26px;
    width: 26px;
}
img.icon.upload {
    background-position: -130px 0;
    height: 26px;
    width: 26px;
}
img.icon.cancel {
    background-position: -156px 0;
    height: 26px;
    width: 26px;
}
img.icon.add-folder {
    background-position: -182px 0;
    height: 26px;
    width: 26px;
}
img.icon.uploads {
    background-position: -208px 0;
    height: 26px;
    width: 26px;
}
img.icon.send {
    background-position: -234px 0;
    height: 26px;
    width: 26px;
}
img.icon.reset {
    background-position: 0 -26px;
    height: 26px;
    width: 26px;
}
img.icon.localize {
    background-position: -78px -26px;
    height: 26px;
    width: 26px;
}
img.icon.setting {
    background-position: -104px -26px;
    height: 26px;
    width: 26px;
}
img.icon.edit {
    background-position: -130px -26px;
    height: 26px;
    width: 26px;
}
img.icon.plus {
    background-position: -26px -26px;
    height: 26px;
    width: 26px;
}
img.icon.minus {
    background-position: -52px -26px;
    height: 26px;
    width: 26px;
}
img.icon.rename {
    background-position: -182px -26px;
    height: 26px;
    width: 26px;
}
img.icon.preview {
    background-position: -208px -26px;
    height: 26px;
    width: 26px;
}
img.icon.switch {
    background-position: -234px -26px;
    height: 26px;
    width: 26px;
}
img.icon.plus.small {
    background-position: -33px -64px;
    height: 16px;
    width: 16px;
}
img.icon.minus.small {
    background-position: -49px -64px;
    height: 16px;
    width: 16px;
}
img.icon.insert {
    background-position: -161px -64px;
    height: 16px;
    width: 16px;
}
img.icon.edit.small {
    background-position: -65px -64px;
    height: 16px;
    width: 16px;
}
img.icon.csharp {
    background-position: -81px -64px;
    height: 16px;
    width: 16px;
}
img.icon.inline-edit {
    background-position: -97px -64px;
    height: 16px;
    width: 16px;
}
img.icon.save.small {
    background-position: -113px -64px;
    height: 16px;
    width: 16px;
}
img.icon.admin {
    background-position: 0 -52px;
    height: 12px;
    width: 12px;
}
img.icon.users-roles {
    background-position: -12px -52px;
    height: 12px;
    width: 16px;
}
img.icon.modules {
    background-position: -28px -52px;
    height: 12px;
    width: 12px;
}
img.icon.signout {
    background-position: -40px -52px;
    height: 12px;
    width: 12px;
}
img.icon.language {
    background-position: -52px -52px;
    height: 12px;
    width: 13px;
}
img.icon.profile {
    background-position: -65px -52px;
    height: 12px;
    width: 11px;
}
img.icon.template {
    background-position: -76px -52px;
    height: 12px;
    width: 14px;
}
img.icon.cluster {
    background-position: 0 -64px;
    height: 16px;
    width: 17px;
}
img.icon.arrow-right {
    background-position: -17px -64px;
    height: 16px;
    width: 16px;
}
img.icon.arrow-down {
    background-position: -129px -64px;
    height: 16px;
    width: 16px;
}
img.icon.search {
    background-position: 0 -80px;
    height: 14px;
    width: 14px;
}
img.icon.close {
    background-position: -34px -105px;
    height: 14px;
    width: 14px;
}
img.icon.tick {
    background-position: 0 -123px;
    height: 12px;
    width: 14px;
}
img.icon.cross {
    background-position: -14px -123px;
    height: 12px;
    width: 12px;
}
img.icon.warning {
    background-position: -26px -123px;
    height: 12px;
    width: 12px;
}
img.icon.warning.big {
    background-position: -47px -160px;
    height: 24px;
    width: 28px;
}
img.icon.undo {
    background-position: -32px -135px;
    height: 13px;
    width: 15px;
}
img.icon.redo {
    background-position: -47px -135px;
    height: 13px;
    width: 15px;
}
img.icon.drag {
    background-position: -22px -80px;
    height: 18px;
    width: 6px;
}
img.icon.rotate {
    background-position: -28px -80px;
    height: 20px;
    width: 20px;
}
img.icon.rotate.anti {
    background-position: -48px -80px;
}
img.icon.flip.y {
    background-position: -68px -80px;
    height: 26px;
    width: 22px;
}
img.icon.flip.x {
    background-position: -90px -80px;
    height: 22px;
    width: 26px;
}
img.icon.list {
    background-position: -116px -80px;
    height: 14px;
    width: 17px;
}
img.icon.grid {
    background-position: -150px -80px;
    height: 14px;
    width: 20px;
}
img.icon.media-library {
    background-position: 0 -164px;
    height: 20px;
    width: 20px;
}
img.icon.arrow {
    background-image: url("../images/treenode/arrows.png");
}
img.icon.arrow.small {
    height: 6px;
    width: 8px;
}
img.icon.arrow.white-down {
    background-position: 0 0;
}
img.icon.arrow.white-up {
    background-position: -8px 0;
}
img.icon.arrow.gray-down {
    background-position: -16px 0;
}
img.icon.arrow.gray-up {
    background-position: -24px 0;
}
img.icon.arrow.gray-right {
    background-position: -18px -16px;
    height: 8px;
    width: 6px;
}
img.icon.arrow.black-down {
    background-position: -32px 0;
}
img.icon.arrow.black-up {
    background-position: -40px 0;
}
img.icon.arrow.switch {
    background-position: 0 -6px;
    height: 10px;
    width: 7px;
}
img.icon.arrow.point-right {
    background-position: -16px -24px;
    height: 11px;
    width: 12px;
}
img.icon.arrow.point-down {
    background-position: -36px -6px;
    height: 12px;
    width: 11px;
}
img.icon.arrow.blue-down {
    background-position: -28px -24px;
    height: 9px;
    width: 19px;
}
img.tree-icon {
    height: 11px;
    width: 11px;
}
img.icon.folder {
    background-position: 0 -135px;
    height: 13px;
    width: 16px;
}
img.icon.file {
    background-position: 0 -148px;
    height: 16px;
    width: 16px;
}
img.icon.file.image {
    background-position: -16px -148px;
}
img.icon.file.document {
    background-position: -32px -148px;
}
img.icon.home {
    background-position: -150px -156px;
    height: 14px;
    width: 32px;
}


/*Top Menu CSS*/


/*#header {
    background: none repeat scroll 0 0 #5BB65E;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    font-size: 14px;
    left: 0;
    min-height: 100px;
    padding: 0 10px;
    
    right: 0;
    top: 0;
    z-index: 1001;
}

#header .logo {
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    padding: 28px 45px 8px 10px;
    position: relative;
    text-decoration: none;
}

#header .panel {
    float: left;
    margin-left: 21px;
}


#header .quicklinks {
    float: right;
}


#header .quicklinks li {
    float: left;
    position: relative;
}


#header .j_DropDown > a {
    padding-right: 23px !important;
    position: relative;
}
#header a {
    color: #FFFFFF;
    padding: 10px;
}
#header .quicklinks a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
}


#header .panel {
    float: left;
    margin-left: 21px;
    margin-top: 40px;
}


#header .panel > li {
    float: left;
    position: relative;
}*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
#header {
    background: none repeat scroll 0 0 #5BB65E;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    font-size: 14px;
    left: 0;
    min-height: 40px;
    padding: 0 10px;
    /*position: fixed;*/
    right: 0;
    top: 0;
    z-index: 1001;
}

#header a {
    color: #FFFFFF;
}
#header .logo {
    float: left;
    padding: 8px 45px 8px 10px;
    position: relative;
}


#header .logo img {
    display: block;
}


#header img.icon.home {
    background-position: -150px -156px;
    height: 14px;
    width: 32px;
}
#header .logo .icon {
    position: absolute;
    right: 10px;
    top: 5px;
}


#header .panel {
    float: left;
    margin-left: 21px;
}


#header .panel > li {
    float: left;
    position: relative;
}

#header .quicklinks {
    float: right;
}

#header .quicklinks li {
    float: left;
    position: relative;
}

#header .quicklinks a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
}



#header img.icon.profile {
    background-position: -65px -52px;
    height: 12px;
    width: 11px;
}
#header .quicklinks .icon {
    float: left;
    margin: 15px 4px 0 0;
}

#header .quicklinks .arrow {
    float: right;
    margin: 19px 0 0 5px;
}


#header .quicklinks li.last ul {
    right: 0;
}
#header .quicklinks ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #006CAD #006CAD;
    border-image: none;
    border-right: 2px solid #006CAD;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    display: none;
    min-width: 100%;
    position: absolute;
    z-index: 10;
}

#header .quicklinks ul a {
    color: #000000;
    white-space: nowrap;
}

#header {
    font-size: 14px;
}

#header .panel a {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
}
#header .j_DropDown > a {
    padding-right: 23px !important;
    position: relative;
}


#header .panel .icon {
    float: left;
    margin: 7px 5px 0 0;
}
#header img.icon.save {
    background-position: -78px 0;
    height: 26px;
    width: 26px;
}

#header .j_DropDown .icon.arrow {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 19px;
}

#header img.icon.arrow.white-down {
    background-position: 0 0;
}
#header img.icon.arrow.small {
    height: 6px;
    width: 8px;
}
#header img.icon.arrow {
    background-image: url("../images/arrows.png");
}

#header .panel ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #006CAD #006CAD;
    border-image: none;
    border-right: 2px solid #006CAD;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    display: none;
    min-width: 100%;
    position: absolute;
    z-index: 1009;
}


#header .panel ul li {
    color: #666666;
    line-height: 34px;
    padding: 0 10px;
}


#header .panel ul a {
    color: #000000;
    line-height: 34px;
    margin: 0 -10px;
    white-space: nowrap;
}

#header img.icon.preview {
    background-position: -208px -26px;
    height: 26px;
    width: 26px;
}

#header img.icon {
    background: url("../images/icons.png") no-repeat scroll -999em -999em rgba(0, 0, 0, 0);
    display: block;
}

#header img.icon.cancel {
    background-position: -156px 0;
    height: 26px;
    width: 26px;
}

.common-form th {
    font-weight: 400;
    padding: 5px 5px 5px 0;
    vertical-align: top;
    white-space: nowrap;
    width: 190px;
    text-align: left;
}

.common-form fieldset {
    margin-bottom: 20px;
}

.common-form table {
    width: 100%;
}


.common-form td {
    padding: 5px 5px 20px;
}

.common-form {
    font-size: 14px;
    line-height: 26px;
    margin-right: 20px;
}

.common-form input.medium {
    width: 260px;
}
.common-form input[type="text"], .common-form input[type="password"] {
    border: 1px solid #BABABA;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 2px 9px;
}

.common-form .tip {
    clear: both;
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 1.3;
}

.common-form input,.common-form button, .common-form select,.common-form textarea {
    font: inherit;
}