@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Login","Account")) {
@*<div class="common-form" style="display: block;">
        <fieldset>
            <table>
                <tbody>

                    <tr>
                        <th>
                           User Name:
                        </th>
                        <td>
                            @Html.TextBox("username")
                        </td>
                    </tr>


                    <tr>
                        <th>
                           Password:
                        </th>
                        <td>
                             @Html.Password("password")
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="Login" />
                        </td>
                    </tr>

                </tbody>
            </table>
        </fieldset>

    </div>*@
    
    <div id="sidebar">
        <div class="block entry logon">
            <div>
                <h6 class="title">Sign in</h6>
                <div class="common-form">
                    <div class="valid-summary">
                    </div>
                        <p class="field clearfix">
                            <label for="UserName">Username</label>
                            @Html.TextBox("username")
                        </p>
                        <p class="field clearfix">
                            <label for="Password">Password</label>
                            @Html.Password("password")
                        </p>
                        <p class="field clearfix">
                            <input type="checkbox" id="rememberMe" name="RememberMe" value="True">
                            <input type="hidden" name="RememberMe" value="False">
                            <label for="rememberMe" class="inline">Remember Me</label>
                        </p>
                        <p class="buttons clearfix">
                            <button type="submit">Sign in</button>
                            @*or <a href="/Account/Register">Sign up</a>*@
                        </p>
                        <p>
                            <a href="/Account/ForgotPassword" style="font-size: 11px;">Forget password?</a>
                        </p>
                    
                </div>
            </div>
        </div>
    </div>    
                                          }